<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYM Fantasy</title>
    <link rel="stylesheet" href="/static/style.css">
      <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/index" id="upp"> HOME</a></li>
      <li><a href="" id="upp"> ABOUT US</a></li>
      <li><a href="" id="upp"> SERVICES</a></li>
      <li><a href="" id="upp"> CONTACT US</a></li>
    </ul>
  </nav>
  <header class="head">
  <div class="cont">
    <h1>
      Welcome to GYM Fantasy
    </h1>
    <p>Success usually comes to those who are too busy to be looking for it.</p>
    <p>EAT SLEEP AND REPEAT!</p>
    <br>
    <br>
    <a href="/contact"><button class="bt">JOIN US</button></a>
    
  </div>
</header>
<section class="home">
  <div class="block">
    <h1>ABOUT US</h1>
    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. ​<br> <br> This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide.</p>
    <br>
    <br>
    <button class="btn">READ MORE</button>
  </div>
  <div class="imgg">
    <img src="../static/mass.jpg" alt="">
  </div>
</section>
<section class="service">
  <h1 style="width: 421px;">WHAT EXTRA YOU WILL GET HERE</h1>
  <div class="box">
  <div class="block1">
   <h2>GYM SUPPLIMENTS</h2>
   <br>
   <p>Order our exiting GYM SUPPLIMENTS</p>
   <p>and get discount upto 50%</p>
   <br>
   <br>
   <p>___________________________</p>
   <button class="btn1">ORDER NOW</button>
  </div>
  <div class="block1">
    <h2>PERSONAL TRAINER</h2>
    <br>
    <p>Get your personal fitness trainer who will</p>
    <p>train you with proper diet</p>
    <br>
    <br>
    <p>___________________________</p>
    <button class="btn1">CALL NOW</button>
  </div>
  <div class="block1">
    <h2>EXTRA FACILITIES</h2>
    <br>
    <p>Get Extra facilities which will</p>
    <p>help you!</p>
    <br>
    <br>
    <p>___________________________</p>
    <button class="btn1">SHOW</button>
  </div>
</div>
</section>
<section class="footer">
  <div class="call">
    <h1>CONTACT US: 99999999999</h1>
  </div>
  <div class="right">
    <a href="https://www.facebook.com/pg/JKInterior1971/about/?ref=page_internal" target="blank"><img src="../static/fb.jpeg" alt=""></a>
    <a href="https://www.instagram.com/deepsjacker/" target="blank" ><img src="../static/ins.jpg" alt=""></a>
</div>
</section>
</body>
</html>
